# Node
node_modules/
**/node_modules/

# Composer / PHP
vendor/
**/vendor/
composer.lock

# Laravel
backend/.env
backend/.env.local
backend/.phpunit.result.cache
backend/storage/
backend/bootstrap/cache/
backend/public/storage

# Vite
frontend/.env
frontend/dist/
frontend/.vite/

# System
.DS_Store
Thumbs.db
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
pnpm-lock.yaml
